src/main/xmlFile/Suppliers.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Suppliers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Supplier" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="supplier_id" type="xs:int"/>
                            <xs:element name="supplier_name" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
